In [ ]:
#Q1. How do you comment code in Python? What are the different types of comments?

Comment code in python are the lines that are ignored by the interpreter during the execution of the program. 
There are three types of comments in python-
1.Single line Comments - This type of comment starts with hashtag Symbol (#).
2.Multiline Comments - This type of comment starts with also hashtag(#).In this we can use multiple (#) for write multiple comments. 
3.Docstring Comments- This type of comment starts with triple quotes (""" or ''') as multiple comments.

In [13]:
#Q2. What are variables in Python? How do you declare and assign values to variables?

In [8]:
""" Ans.. Python variables are containers which is used to store data values.
--We can declare variables in python - ( type variable name = value ) where type is (such as int , float,str,etc.) 
and variable name is (a,b,x) and values are (10,44.5,"Aryan").
Example... a=10,x=44.5,s="Aryan"
--We can assign values in python by using assignment operator (=).
 Ex... b=10 ,x=22.3,s="Aryan"     """

' Ans.. Python variables are containers which is used to store data values.\n--We can declare variables in python - ( type variable name = value ) where type is (such as int , float,str,etc.) \nand variable name is (a,b,x) and values are (10,44.5,"Aryan").\nExample... a=10,x=44.5,s="Aryan"\n--We can assign values in python by using assignment operator (=).\n Ex... b=10 ,x=22.3,s="Aryan"     '

In [14]:
#Q3. How do you convert one data type to another in Python?

In [27]:
a=10

In [28]:
print(a)
print(type(a))

10
<class 'int'>

In [29]:
# convert int data type into float

In [30]:
f=float(a)

In [32]:
print(f)
print(type(f))

10.0
<class 'float'>

In [33]:
#Convert float data type into string.

In [34]:
s=str(f)

In [36]:
print(s)
print(type(s))

10.0
<class 'str'>

In [37]:
# Q4. How do you write and execute a Python script from the command line.

In [40]:
""" Ans...   We can write and execute a python script by going to command prompt ( press win+r and write cmd )in your PC.
Firstly we have to write script on notepad and save it and go to command prompt and type address of your drive and files address where you saved that file and
enter your python script will display there.    """

' Ans...   We can write and execute a python script by going to command prompt ( press win+r and write cmd )in your PC.\nFirstly we have to write script on notepad and save it and go to command prompt and type address of your drive and files address where you saved that file and\nenter your python script will display there.    '

In [41]:
#Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [42]:
my_list=[1,2,3,4,5]

In [44]:
print(my_list[1:3])

[2, 3]

In [45]:
#Q6. What is a complex number in mathematics, and how is it represented in Python?

In [2]:
"""  Ans.. Complex number in mathematics are the numbers which are expressed in the form of (a+ib),where a,b are any real any real numbers
and i is called imaginary(iaota). 
EX.. (2+4i),(8,5i) ,etc.   """

'  Ans.. Complex number in mathematics are the numbers which are expressed in the form of (a+ib),where a,b are any real any real numbers\nand i is called imaginary(iaota). \nEX.. (2+4i),(8,5i) ,etc.   '

In [3]:
c=(2+4j)

In [6]:
type(c)

complex

In [7]:
c.real

2.0

In [8]:
c.imag

4.0

In [9]:
# Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [10]:
age=25

In [11]:
type(age)

int

In [12]:
# Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

In [13]:
price=9.99

In [14]:
type(price)

float

In [15]:
# Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?

In [16]:
name="Aryan Verma"

In [17]:
print(name)

Aryan Verma

In [18]:
type(name)

str

In [19]:
# Q10. Given the string "Hello, World!", extract the substring "World".

In [47]:
s="Hello, World!"

In [48]:
s

'Hello, World!'

In [54]:
s[7:12]

'World'

In [55]:
s.find("World")

7

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are 
currently a student or not.

In [56]:
is_student=True

In [57]:
type(is_student)

bool